@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Space Mono', monospace;

    margin: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}
main{
    margin: 0;
}

main h1 {
    text-align: center;
}
main img {
    width: 10rem;
    border: 2px solid rgb(116, 116, 189);
    border-radius: 1rem;
    position: relative;
}

nav{
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    margin-top: 0;
    background: linear-gradient( rgba(97,186,255,1) 10%, rgba(166,239,253,1) 100%);
    z-index: 1;
}



nav ul {
    list-style-type: none;
    margin-top: 0;
    padding-top: 1rem;
    padding-left : 0;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: darkblue;
    font-weight: 700;
}



#about-me {
    text-align: center;
}

.blank-space {
    height: 20vh;
}

.full-height{
    height: 100vh;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    text-align: center;
    background-color: aliceblue ;
    width: 60%;
    padding: 1rem;
    margin: 1rem 0;
}

ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

#skills {
    height: auto;
}

#skills h2 {
    text-align: center;
}

#projects{
    height: auto;
}

footer {
    background: linear-gradient( rgba(97,186,255,1) 10%, rgba(166,239,253,1) 100%);
    margin-bottom: 0;
    
}
footer ul, footer p{
    margin-bottom: 0;
}
footer ul {
    display: flex;
    justify-content: flex-end;

}
footer ul li {
    margin: 0 10px;
}